.btn-default {
    padding-left: 40px;
}
#head {
    font-size: 30px;
    font-weight: bolder;
}

.btn-default {
    color: #fff;
    background-color: #337ab7;
    border-color: #ccc;
}

img {
    border: 0;
    height: 100px;
}

.navbar-default .navbar-nav > li > a {
    color: #d81919;
    padding-inline: 30px;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
    padding-right: 70px;
    padding-top: 25px;
}

.footer {
    background-color:  rgb(59, 12, 12);
    margin-top: 20px;
    padding-top: 0px;
    height: 50px;
    
}
.fa {
    color: #67a6dc;
    padding-inline: 10px;
    font-size: 30px;
}